img {
    margin:auto;
}
body {
    font-family: Helvetica;
    color:white;
}
#loginDetails {
    background-color:#008080;
    font-size:20px;
    margin-top:10px;
    margin-bottom:25px;
    margin-right:600px;
    margin-left:600px;
    padding: 10px 20px;
}
label {
    font-size:20px;
}
p {
    font-family: Helvetica;
    font-size: 20px;
}
input,select {
    width: 100%;
    padding: 15px 15px;
    margin: 7px 0;
    box-sizing: border-box;
    border: 3px solid #008080;
    outline: none;
}
#button {
    background-color: #008080;
    font-size:20px;
    font-family: Helvetica;
    color:black;
}
#button:hover {
    background-color: #01234;
}
footer{
    background-color: #008080;
    padding: 1em;
	margin-top:30px;
    text-align: center;
    color: white;
    font-family: Helvetica;
	bottom: 0;
}