body{
   font-family: Helvetica;
   color: black;
}
table{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: white;
}
.navbar{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #008080;
}
th{
    float: center;
}
th a{
    display: block;
    color: #000;
    text-align: center;
    padding: 8px 55px;
    text-decoration: none;
}
th a.active{
    background-color: #008080;
    color: white;
}
th a:hover:not(.active){
    background-color: #89cff0;
    color: white;
}
label {
    font-size:20px;
}
input,select {
    width: 100%;
    padding: 10px 10px;
    margin: 7px 0;
    box-sizing: border-box;
    border: 3px solid #FFA500;
    outline: none;
}
#button {
    background-color: #FFA500;
    font-size:20px;
    font-family: Helvetica;
    color:white;
}
#button:hover {
    background-color: #89cff0;
}
footer{
    background-color: #008080;
    padding: 1em;
	margin-top:30px;
    text-align: center;
    color: white;
    font-family: Helvetica;
	bottom: 0;	
}